---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div
  class="text-white bg-black min-h-screen flex flex-col items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
>
  ass {title}
</div>
